
*{
	margin: 0 auto;
}
body{
	background-color:  rgba(255,176,115,1);
	font-family: monospace;
	background: rgba(255,176,115,1);
	background: -moz-linear-gradient(top, rgba(255,176,115,1) 0%,
	 rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
	 rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
	 rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
	 rgba(255,146,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, 
		color-stop(0%, rgba(255,176,115,1)), 
		color-stop(6%, rgba(252,194,124,1)), 
		color-stop(12%, rgba(255,227,186,1)), 
		color-stop(18%, rgba(255,231,158,1)), 
		color-stop(45%, rgba(248,252,194,1)), 
		color-stop(54%, rgba(248,252,194,1)), 
		color-stop(71%, rgba(255,231,158,1)), 
		color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-linear-gradient(top, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	background: -o-linear-gradient(top, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	background: linear-gradient(to bottom, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb073', endColorstr='#ff920a', GradientType=0 );
}
@font-face {
font-family: FiraMono;
src: url(FiraMono-Regular.woff) format("woff"),
url(FiraMono-Regular.eot) format("embedded-opentype");
}
h1{
	margin-top: 40px;
	text-align: center;
	font-variant: small-caps;
	font-family: 'Caesar Dressing', cursive;
}
.caja{
	margin-top: 50px;
	margin-left: 140px;
	margin-right: 140px;
}
nav{
	margin-left:1%;
	border: 1px solid white;
	border-radius: 20px 20px 20px 20px;
	background-color:#f0e68c

}
nav>ul>li{	
	display:inline-block;
  	vertical-align:top;
  	padding:1%;
  	background-color:#f0e68c;
  	margin-left:-30px;
  	width: 24.5%;
  	color:white;
  	font-size: 2em;
  	text-align: center;
  	font-variant: small-caps;
}
nav>ul>li>a{
	text-decoration: none;
	color: inherit;
}
nav>ul>li:hover{
	background-color: white;
	color: black;
	font-family: 'Caesar Dressing', cursive;
	font-size: 2em;
}
.caja0{
	padding: 3%;
}
.caja0>p{
	float: left;
	width: 45%;
	margin-bottom: 1%;
}
#rayas{
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-radius: 20px 0px 20px 0px;
	border-top-style: groove;
	border-bottom-style: ridge;
	border-color: white;
	padding: 1%;
}
.caja0>p>img{
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px 10px 10px 10px;
	margin-left: 2%;
	width: 60%;
	float: right;
}
.caja0>p>img:hover{
	-ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}
.fijo{
	clear: both;
	width:6%; 
	margin-left:-7%;
	margin-right: 50%;
	position: fixed;
	font-family: 'Caesar Dressing', cursive;

}
.fijo>ul{
	list-style: none;
	position: absolute;
}
.fijo>ul>li>a>img{
	width:50%; 
}

.caja1{
	clear: both;
	background-color: #f0e68c;
	width: 45%;
	float: left;
	margin: 1%;
	padding: 1%;
	border-radius: 0px 20px 0px 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: smaller;
}
.caja1>ul{
	margin-top: 1%;
}
.caja1>p{
	margin-top: 2%;
	border-left: 1px solid;
	border-right: 1px solid;
	border-radius: 0px 0px 20px 20px;
	padding: 1%;
	border-color: white;
}
.caja1>h2,.caja2>h2{
	padding: 2%;
	text-align: center;
	border-left: 0.50px solid;
	border-top: 0.50px solid;
	border-right: 0.50px solid;
	border-color: white;
}
.caja2{
	background-color: #f0e68c;
	width: 45%;
	float: left;
	margin: 1%;
	padding: 1%;
	border-radius: 20px 0px 20px 0px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: smaller;
}
.caja2>p{
	margin-top: 2%;
	margin-bottom: 2.3%;
}
#raya{
	border-left: 0.50px solid;
	border-right: 0.50px solid;
	border-radius: 0px 0px 20px 20px;
	padding: 1%;
	border-color: white;
}
video{
	width: 200px;
	height: 200px;
}
.caja3{
	float: left;
	clear: both;
	margin: 2%;
}
.caja3>h2{
	font-family: FiraMono, serif;
	background-color: #F0E68C;
	text-align:center;
	width: 45%;
	border: 3px solid;
	border-radius: 20px 20px 0px 0px;
	color:white;
	border-color: white;
}
.caja3>p{
	background-color: #F0E68C;
	border-radius: 20px 20px 0px 0px;
	padding-left: 1%;
	padding-top: 1%;

}
.caja3>ul{
	background-color: #F0E68C;
	border-radius: 0px 0px 20px 20px;
	padding-right: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
	margin-bottom: 1%;
}
.multimedia{
	clear: both;
	background-color: #F0E68C;
	margin: 2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 8px solid;
	border-color: #F0E68C;
}
.caja>h2{
	font-family: FiraMono, serif;
	clear: both;
	float: left;
	width: 44%;
	text-align:center;
	border: 3px solid;
	border-color: white;
	border-radius: 0px 0px 20px 20px;
	color: white;
	background-color: #f0e68c;
	margin-left: 28%;
}
.multimedia1{
	float: left;
	width: 50%;
	margin-top: 1%;
}
.multimedia1>h3{
	background-color: white;
	font-size: 1.5em;
	text-align:center;
	padding: 2%;
}
.multimedia1>picture{
	float: left;
	width:99%; 
	margin-left: 1%;
	margin-top: 1%;
}
.multimedia1>picture>img{
	float: left;
	width: 99%;
}
.multimedia2{
	margin-left: 0.5%;
	float: left;
	width: 25%;
	margin-top: 1%;
}
.multimedia2>img{
	float: left;
	width:99%; 
	margin-left: 1%;
	margin-top: 5%;
	margin-bottom: 10%;
}
.multimedia2>h3,.multimedia3>h3,.multimedia4>h3{
	background-color: white;
	font-size: 1.5em;
	text-align:center;
	padding: 1%;
}
.multimedia3{
	float: left;
	width:99%;
	margin-top: 1%;
}
.multimedia3>iframe{
	float: left;
	width:99%; 
	margin-left: 1%;
	margin-top: 3%;
}
.multimedia4{
	margin-left: 0.5%;
	float: right;
	width: 99%;
	margin-top: 10%;
	background: -webkit-gradient(left top, left bottom, 
		color-stop(0%, rgba(255,176,115,1)), 
		color-stop(6%, rgba(252,194,124,1)), 
		color-stop(12%, rgba(255,227,186,1)), 
		color-stop(18%, rgba(255,231,158,1)), 
		color-stop(45%, rgba(248,252,194,1)), 
		color-stop(54%, rgba(248,252,194,1)), 
		color-stop(71%, rgba(255,231,158,1)), 
		color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-linear-gradient(top, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	background: -o-linear-gradient(top, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	background: linear-gradient(to bottom, rgba(255,176,115,1) 0%, 
		rgba(252,194,124,1) 6%, rgba(255,227,186,1) 12%, 
		rgba(255,231,158,1) 18%, rgba(248,252,194,1) 45%, 
		rgba(248,252,194,1) 54%, rgba(255,231,158,1) 71%, 
		rgba(255,146,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb073', endColorstr='#ff920a', GradientType=0 );
}
.multimedia4>a{
	width: 99%;
}
.multimedia4>a>img{
	margin-top: 10%;
	width: 99%;
}
footer{
	clear: both;
	width: 95%;
  	text-align: center;
  	border-radius: 5px 5px 5px 5px;
  	font-variant: small-caps;
  	margin-left: 2%;
  	padding: .5%;
  	background-color: white;
	color: black;
	border: 2px solid;
	font-size: 2em;
	border-color:#F0E68C;
}